<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Ошибка / NodeJS Chat</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel='stylesheet prefetch' href='/css/font-awesome.css'>
  </head>
  <body>
    <div class="container not-found-error clearfix" style="text-align: center;">
    	<i class="fa fa-5x fa-exclamation-triangle"></i>
    	<h1>Страница не найдена</h1>
    	<p>Запрошенная страница отсутствует либо к ней ограничен доступ</p>
    </div>
  </body>
</html>
